
#found{
  margin-top: 2px;
 margin-left: 530px;
 margin-bottom:0px;
 margin-right:0px;
 font-style: Italic;

}
body{
background:-webkit-gradient(linear, 0% 0%, 130% 0%, from(gray),to(white));
margin: 25px;
border-radius: 7pt;
font-style:white;   
}
h3{
border-radius: 7pt;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
background:-webkit-gradient(linear, 120% 0%, 0% 120%, from(gray),to(white));
}
#search_input{
border-radius: 7pt;
float:left;
}
#pic{
border-radius: 7pt;
float: left;
margin-top: 13px;
margin-bottom: 0px;
margin-left:5px;
margin-right:7px;
}
#pic1{
height: 140px;
width: 120px;
border-radius: 7pt;
float: left;
margin-top: 20px;
margin-bottom:0px;
margin-left: 40px;
margin-right: 10px;
}
#results{
margin-left:10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
padding: 40px;
}
span{
margin-left:65px;

}
#searchForm{
background:-webkit-gradient(linear, 0% 0%, 0% 150%, from(#4C5A65),to(white));
padding-right:20px;
padding-left:20px;
padding-top:20px;
padding-bottom:100px;
margin-top: 0px;
margin-bottom: 20px;
margin-left:5px;
position:relative;
-moz-border-radius:16px;
-webkit-border-radius:16px;
border-radius:16px;

}
#submitButton{
    background:url('img/search.png') no-repeat;
	border-radius: 7pt;
    width:45px;
    height:45px;
    text-indent:-9999px;
    overflow:hidden;
    text-transform:uppercase;
	float:right;
    cursor:pointer;
	margin-top:10px;
	margin-bottom: 0px;
	margin-left:0px;
	margin-right: 60px;
}
h3{
padding: 10px;
}

